practice

1. Reverse a given list in Python
a List = [100, 200, 300, 400, 500]
  output:
[500, 400, 300, 200, 100]

In [19]:
l1=[100,200,300,400]
l2=l1[len(l1)::-1]
print(l2)

[400, 300, 200, 100]

2. take a list 'l1' of even nos between 150 to 250. Print its length.
Then create another list 'l2' using 'l1', containing only nos divisible by 4 from 'l1'.

In [27]:
l1=[]
for i in range(150,250,2):
    l1.append(i)
print(l1)
l2=[]
for i in l1:
    if i%4==0:
        l2.append(i)
print("*********l2*********\n",l2)

[150, 152, 154, 156, 158, 160, 162, 164, 166, 168, 170, 172, 174, 176, 178, 180, 182, 184, 186, 188, 190, 192, 194, 196, 198, 200, 202, 204, 206, 208, 210, 212, 214, 216, 218, 220, 222, 224, 226, 228, 230, 232, 234, 236, 238, 240, 242, 244, 246, 248]
*********l2*********
 [152, 156, 160, 164, 168, 172, 176, 180, 184, 188, 192, 196, 200, 204, 208, 212, 216, 220, 224, 228, 232, 236, 240, 244, 248]

In [34]:
l1=[element for element in range(150,250,2)]
print(l1)
print("*********l2*********\n",l2)
l2=[element for element in l1 if element%4==0]
print(l2)

[150, 152, 154, 156, 158, 160, 162, 164, 166, 168, 170, 172, 174, 176, 178, 180, 182, 184, 186, 188, 190, 192, 194, 196, 198, 200, 202, 204, 206, 208, 210, 212, 214, 216, 218, 220, 222, 224, 226, 228, 230, 232, 234, 236, 238, 240, 242, 244, 246, 248]
*********l2*********
 [152, 156, 160, 164, 168, 172, 176, 180, 184, 188, 192, 196, 200, 204, 208, 212, 216, 220, 224, 228, 232, 236, 240, 244, 248]
[152, 156, 160, 164, 168, 172, 176, 180, 184, 188, 192, 196, 200, 204, 208, 212, 216, 220, 224, 228, 232, 236, 240, 244, 248]

3. Given a Python list of numbers. Turn every item of a list into its square root
aList = [1, 4, 9, 16, 25, 36, 49]

In [2]:
import math
alist = [1,4,9,16,25,36,49]
for i,e in enumerate(alist):
    alist[i]=math.sqrt(e)
print(alist)

[1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0]

In [11]:
import math
alist = [1,4,9,16,25,36,49]
alist=[math.sqrt(i) for i in alist]
print(alist)

[1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0]

4. Print two lists in the following order
list1 = [5, 6,7]
list2 = [0, 1]
output:
50,51,60,61,70,71

In [42]:
list1 = [5, 6,7]
list2 = [0, 1]
for i in list1:
    for j in list2:
        print(i,j,sep="",end=",")

50,51,60,61,70,71,

5. Given a two Python list. Iterate both lists simultaneously such that list1 should display item in original order and list2 in reverse order. It should work for any two lists.
list1 = [10, 20, 30, 40]
list2 = [100, 200, 300, 400]
output:
10 400
20 300
30 200
40 100

In [3]:
list1 = [10, 20, 30, 40]
list2 = [100, 200, 300, 400]
for i in range(4):
    print(list1[i],list2[len(list2)-1-i])

10 400
20 300
30 200
40 100

In [45]:
list1 = [10, 20, 30, 40]
list2 = [100, 200, 300, 400]
list2.reverse()
for e1,e2 in zip(list1,list2):
    print(e1,e2)

10 400
20 300
30 200
40 100

6. Remove empty strings from the list of strings
list1 = ["Ashish", "", "Atharva", "Amit", "", "Revati"]
output:
["Ashish", "Atharva", "Amit", "Revati"]

In [20]:
list1 = ["Ashish", "", "Atharva", "Amit", "", "Revati"]
output=[]

for i,e in enumerate(list1):
    if (list1[i]!=""):
        output.append(e)
print(output)

['Ashish', 'Atharva', 'Amit', 'Revati']

7. Add item 7000 after 6000 in the following Python List
list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]
output:
[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

In [35]:
list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]
# for i in list1:
#     print()
list1[2][2].append(7000)
print(list1)

[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

In [46]:
list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]
list1[2][2].append(7000)
print(list1)

[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

8. Given a nested list extend it by adding the sub list ["h", "i", "j"] in such a way that it will look like the following list

list1 = ["a", "b", ["c", ["d", "e", ["f", "g"], "k"], "l"], "m", "n"]
Sub List to be added = ["h", "i", "j"]
output:
['a', 'b', ['c', ['d', 'e', ['f', 'g', 'h', 'i', 'j'], 'k'], 'l'], 'm', 'n']

In [51]:
list1 = ["a", "b", ["c", ["d", "e", ["f", "g"], "k"], "l"], "m", "n"]
sublist = ["h", "i", "j"]
list1[2][1][2].extend(sublist)
print(list1)

['a', 'b', ['c', ['d', 'e', ['f', 'g', 'h', 'i', 'j'], 'k'], 'l'], 'm', 'n']

In [52]:
list1 = ["a", "b", ["c", ["d", "e", ["f", "g"], "k"], "l"], "m", "n"]
sublist = ["h", "i", "j"]
for i in sublist:
    list1[2][1][2].append(i)
print(list1)

['a', 'b', ['c', ['d', 'e', ['f', 'g', 'h', 'i', 'j'], 'k'], 'l'], 'm', 'n']

9. Given a Python list, find value 20 in the list, and if it is present, replace it with 200. Only update the first occurrence of a value
list1 = [5, 10, 15, 20, 25, 50, 20]
output:
list1 = [5, 10, 15, 200, 25, 50, 20]

In [47]:
list1 = [5, 10, 15, 20, 25, 50, 20]
for i,e in enumerate(list1):
    if (e==20):
        list1[i]=200
        break
print(list1)

[5, 10, 15, 200, 25, 50, 20]

10. Given a Python list, remove all occurrence of 20 from the list
list1 = [5, 20, 15, 20, 25, 50, 20]
output:
[5, 15, 25, 50]

In [57]:
list1 = [5, 20, 15, 20, 25, 50, 20]
for i in list1:
    if i==20:
        list1.remove(i)
print(list1)

[5, 15, 25, 50]

11. Take a number as input from user. 
Print maximum and minimum integer which can be generated using all the digits in the input number
Ex. Input 3421   : o/p max: 4321, min 1234
Input 7789    : o/p max: 9776   min 6779

In [1]:
num=input("enter any number : ")
l1=[]
for i in num:
    l1.append(int(i))
print(l1)
max=l1
min=l1

max.sort(reverse=True)
print("max is : ",end="")
for i in max:
    print(i,end="")
print("\n")
min.sort(reverse=False)
print("min is : ",end="")
for i in min:
    print(i,end="")

enter any number : 3421
[3, 4, 2, 1]
max is : 4321

min is : 1234

In [27]:
#with join
num=input("enter any number : ")
num=str(3421)
# num_list=num.split()
num_list=list(num)

max_num="".join(sorted(num_list,reverse=True))
print("max number is :",max_num)
min_num="".join(sorted(num_list))
print("min number is :",min_num)

max number is : 4321
min number is : 1234

# q12

 12. Take integer from user and print all odd numbers which can be generated using any number of digits from given number
Ex. 
Input: 3421  o/p: 1,3,13,43,23,31,41,21,421,241,341,431,423,243,143,413,1243,1423,4213,4123, 2413,2143, .. etc

#look for stackoverflow there is solution

In [23]:
from itertools import permutations
elements=str(3421)
odds=[]

for i in range(1,len(elements)+1):
    permutations_generator = permutations(elements, i)
    for perm in permutations_generator:
        if int("".join(perm))%2==1:
            odds.append(int("".join(perm)))

print(odds)

[3, 1, 31, 43, 41, 23, 21, 13, 341, 321, 431, 423, 421, 413, 231, 243, 241, 213, 143, 123, 3421, 3241, 4321, 4231, 4213, 4123, 2341, 2431, 2413, 2143, 1423, 1243]

In [11]:
# BY SIR
# ======================
import itertools
n = input("enter an integer")
all_digits=list(n)
for num_list in list(itertools.permutations(all_digits)):
    
    num="".join(num_list)
    num=int(num)
    if (num%2)!=0:
        print(num)

enter an integer3421
3421
3241
4321
4231
4213
4123
2341
2431
2413
2143
1423
1243

In [ ]:
# Advanced Question

Q. What will be output of following and explain why?
a. 
l1 = [ 0 , 1]
x= l1[0]
x, l1[x] = 1, 300
print(l1)

b.
comp = [1, 2, ('aa', 'ab')]   < [1, 2, ('abc', 'a'), 4]
print(comp)

In [42]:
l1 = [ 0 , 1]
x= l1[0]
x, l1[x] = 1, 300
print(l1)

################

comp = [1, 2, ('aa', 'ab')]   < [1, 2, ('abc', 'a'), 4]
print(comp)

[0, 300]
False

1.	Take a list of integers. Every time you can select the first element or last element.
Always next number selected should be less than or equal to the currently selected number. If no number can be selected to fulfill all conditions then return False. If all elements are completed using the selection criteria then print True. You have to try all the combinations possible before conclusion.

Ex. 
L=[1,2,3,4,5]

We can select 1 or 5 at step 1
Assume, First 5 is selected (last element)
Then, [1,2,3,4]we can select 1 or 4,  we will select 4 because 4<5
Then [1,2,3] we can select 1 or 3, so select 3 because 3<5

Like this we can select 5,4,3,2,1 and all elements are selected so print True
But if we select 1 then we cannot select further elements
Because, after selecting 1 list will be [2,3,4,5] and first 2 and last 5 both are greater than 1

So, when selecting first element use the right choice so that there can be possibility of selection of all elements

L=[1,3,2]

We can select 1 or 2 at step1
Assume we select 1,
Then [3,2] so we can select 3 or 2 but both are greater than 1
So, there is no way we can completely select all elements

Assume we select 2,
Then [1,3], so we can select 1 or 3, we select 1 because 1<2,
Then [3], so we can ONLY select 3 but 3 is greater than 1

So print False, because in all options we cannot select all elements from the list

In [16]:
ls=[1,2,3,4,5]
# l.remove(4)
s_list=[]
select=ls[0]
if (ls[0]>ls[-1]):
        select=ls[0]
        
else:
        select=ls[-1]
while(len(ls)>1):

    if (ls[0]>ls[-1]) and (select>=ls[0]):
        select=ls[0]
        
    elif (ls[0]<ls[-1]) and (select>=ls[-1]):
        select=ls[-1]

    if select in ls:
        s_list.append(select)
        ls.remove(select)
    else:
        print("False")
        break
else:
    print(True)
        
#     ls.remove(select)
#     s_list.append(select)
#     print(select)

True

5