In [ ]:
# Advanced questions on functions ( 5+)

# 1

In [ ]:
Q1 Write a function in Python to check duplicate letters inside a word,
without considering case. It must accept a string, i.e., a sentence. 
The function should return True if the sentence has any word with duplicate letters, else return False. 

Example:
input: 
i am glad to be here!
output True (because here word has duplicate letters)

input:
you are wonderful
output False (because no word has duplicate letters)

In [6]:
def duplicate_letter(sent):
    sent_list=sent.split(" ")
    for ele in sent_list:
        if len(set(ele)) == len(ele):
            return True
        else:
            return False
    
sent="i am glad to be here"
duplicate_letter(sent)

True

# 2

In [ ]:
Q2 Write a function in Python to parse a string such that it accepts a parameter- an encoded string. 
This encoded string will contain a first name, last name, and an id.
You can separate the values in the string by any number of zeros. 
The id will not contain any zeros. 
The function should return a Python dictionary with the first name, last name, and id values. 
For example, if the input would be "John000Doe000123". 
Then the function should return: { "first_name": "John", "last_name": "Doe", "id": "123" }

In [50]:
def parse(sent):
    di={}
    first_name=sent.split("0")
    first_name_copy=first_name.copy()
    count_space=first_name.count("")
    
    while(count_space>0): 
        first_name.remove("")
        count_space-=1
        
    print(first_name)

sent="John000Doe000123"
parse(sent)

1
2
3
4
['John', 'Doe', '123']

In [49]:
##########another
def parse(sent):
    di={}
    first_name=sent.split("0")
    first_name_copy=first_name.copy()
    x=[]
    
    for i in first_name:
        if i!="":
            x.append(i)
    print(x)

sent="John000Doe000123"
parse(sent)

['John', '', '', 'Doe', '', '', '123']
0
1
2
3
4
5
6
['John', 'Doe', '123']

# 3

In [ ]:
Q3 Write a function in Python to convert a decimal to a hex. 
It must accept a string of ASCII characters as input.
The function should return the value of each character as a hexadecimal string.
You have to remove the suffix 0x from all hex representations. 
You have to separate each byte by a space and return all alpha hexadecimal characters as lowercase.

Ex. input 'AB'
Output '41 42'
Explaination : hex value for 'A' is 0x41 and 'B' is 0x42. So take only 41 and 42 removing the prefix '0x' .

input '@21Z'
Output '40 32 31 5a'

In [27]:
def convert(inp):
    inp_list=[i for i in inp]
    inp_hex=list((map(hex,map(ord,inp_list))))
    inp_new=list(map(lambda x:x[2:],inp_hex))
    return " ".join(inp_new)   

inp= '@21Z'
inp='AB'
convert(inp)

'41 42'

# 4

In [ ]:
Q4 Compress the given string S using following rules, 
- If the string contains a alphabate or special char, that occurs 4 times consecutively,
then replace it with its compressed representation, (4, given character) in the string. 
- Neglect the case of latters when counting the repeatitions and creating compressed representation. 
- If there are multiple spaces then take them as a single space only, and replace with (1, ).
- S is containing only aphabates or special characters, 
anything other than this should be kept as it is in the output

Ex. 
input 'aabbbbeeeaa'
output '(2,a)(4,b)(3,e)(2,a)'

input 'Aa jj  '
output '(2,a)(1, )(2,j)(1, )'

In [93]:
def compress(word):
    '''compressing the string'''
    word=word.lower()
    l1=[]
    for i,ele in enumerate(word):
    
        if i==0:
            l1.append([1,ele])
            
        elif (i>0) and (word[i]==word[i-1]) and word[i]!=" ":
            l1[len(l1)-1][0]+=1
            
        elif i>0 and word[i]!=word[i-1]:
            l1.append([1,ele])
            
    compress_str=" "
    for i in l1:
        compress_str=compress_str+str(tuple(i))
        
    return compress_str
              
word = 'aabbbbeeeaa'
print(compress(word))

word= 'Aa jj  '
print(compress(word))

 (2, 'a')(4, 'b')(3, 'e')(2, 'a')
 (2, 'a')(1, ' ')(2, 'j')(1, ' ')

# 5

In [ ]:
Q5 Write a function named 'format_number' that takes a number as its only parameter.
Your function should convert the number to a string and add commas as a thousand separators.
For example, calling format_number(1000000) should return "1,000,000". 
- In case negetive number then print error message

In [16]:

def format_number(num):
    num_str=str(num)
    idx=len(num_str)%3
    if idx == 0:
        s=""
    else:
        s=num_str[:idx:]
    for i in range(idx,len(num_str),3):
        if idx==0 and i<3:
            s=s+num_str[i:i+3:]
        else:
            s=s+","+num_str[i:i+3:]
    print(s)
    
format_number(100064508)

100,064,508

# 6

In [ ]:
Q6 There is pizza shop. When order is given it takes name of the person as input.
There can be typo mistakes, so system allows to edit the name. 
Write a function which takes a name string as input, position, and new character. 
Then it changes character in name for given position with new character. Return the edited string from the function.

Ex. 
input "SAW",2,"M"
output "SAM"

input "ABC", 0, "Z"
output "ZBC"

In [32]:
def edit(name,pos,character):
    '''edit name'''
    l_name=list(name)
    l_name[pos-1]=character
    return "".join(l_name)



name=input("enter your name: ")
choice=int(input("is your name ok?\n1. for yes,2. for no :"))
match choice:
    case 1:
        print("right name")
    case 2:
        correct=input("enter the position and newcharacter space in between : ")
        correct_list=correct.split(" ")
        correct_name=edit(name,int(correct_list[0]),correct_list[1])
        print("correct name is :",correct_name)
    
    
    
# name="Swsz"
# edit(name)

enter your name: swsz
is your name ok?
1. for yes,2. for no :2
enter the position and newcharacter space in between : 3 a
correct name is : swaz

# 7

In [ ]:
Q7 Ms. Gabriel Williams is a botany professor at District College.
One day, she asked her student Mickey to compute the average of all the plants 
with distinct heights in her greenhouse.

Formula used:
Average = Sum of Distinct Heights/Total Number of Distinct Heights

Function Description
The average has the following parameters:
    Input string containing all heights seperated by space
Returns
    float: the resulting float value rounded to 3 places after the decimal

Input Format
The first line contains the integer, N, the size or arr.
The second line contains the N space-separated integers, arr[i].
Constraints

0 < N <= 100
Sample Input
STDIN                                       Function
-----                                       --------
10                                          arr[] size N = 10
161 182 161 154 176 170 167 171 170 174     arr = [161, 181, ..., 174]

Sample Output
169.375

Explanation
Here, 154 161 167 170 171 174 176 182 are distinct values from input.
So, 
Average = 1355/8 = 169.375

In [113]:
def average(sample_input):
    '''finding average of distinct values'''
    sample_list=sample_input.split(" ")
    sample_set=set(sample_list)
    sum=0
    for i in sample_set:
        sum+=int(i)
    avg=sum/len(sample_set)
    return round(avg, 3)
       
s="161 182 161 154 176 170 167 171 170 174"
average(s)

169.375

# 8

In [112]:
Q8 There is an array of n integers. There are also 2 disjoint sets, A and B, each containing m integers. 
You like all the integers in set A and dislike all the integers in set B. Your initial happiness is 0. 
For each i integer in the array, if i belongs to A, you add 1 to your happiness. 
If i belongs to B, you add -1 to your happiness. Otherwise, your happiness does not change. 
Output your final happiness at the end.

Note: Since A and B are sets, they have no repeated elements. However, the array might contain duplicate elements.
Constraints
    1 <= n <= 105
    1 <= m <= 105
    1 <= Any integer in the input <= 109

Input Format
The first line contains integers n and m separated by a space.
The second line contains n integers, the elements of the array.
The third and fourth lines contain m integers, A and B, respectively.

Output Format
Output a single integer, your total happiness.

Sample Input
3 2
1 5 3
3 1
5 7

Sample Output
1

2.36

In [119]:
def happiness(A,B,arr):
    '''calculation happiness'''
    happ=0
    for i in arr:
        if i in A:
            happ+=1
        if i in B:
            happ+=-1
    return happ

A={3,1}
B={5,7}
arr=[1,5,3]
happiness(A,B,arr)

1

# 9

In [ ]:
Q9 There is an essay writting competition. 
Winner will be a person who uses maximum number of unique valid words in his/her essay. 
There is a bonus score if essay has numbers in it. Take 5 essays as input from user. 
Print the winner essay number using following function.

The function takes input a string containing an essay and returns the total score.
- There are multiple sentences in one essay.
- After every word there is a space
- Sentence can end with 3 characters --> .?!
- A valid word contains minimum 2 characters
- All other special characters should be neglected
- Bonus score to each whole number is 1

Example:
input 5 essays
abc dfg
a b g h 123 12 
asd fgh hjk tyu klu rty 333 23
1 2 34 you are good!
this is sample. take more inputs.

output: 3

Explaination: 
first essay score is 2 because of 2 distinct valid words and 0 whole numbers
Second essay score is 2 because of 0 distinct valid words and 2 whole numbers
Third essay score is 8 because of 6 distinct valid words and 2 whole numbers
Fourth essay score is 6 because of 3 distinct valid words and 3 whole numbers
Fifth essay score is 6 because of 6 distinct valid words and 0 whole numbers
So 3 is winner

In [159]:
def score(essay):
    essay_list=essay.split(" ")
    essay_valid=[i for i in essay_list if len(i)>1]
    essay_set=set(essay_valid)
    return len(essay_set)
    

a="abc dfg"
b="a b g h 123 12"
c="asd fgh hjk tyu klu rty 333 23"
d="1 2 34 you are good!"
e="this is sample. take more inputs."   
essay_list=[a,b,c,d,e]
score_dict={}
for i in essay_list:
    score_dict[i]=score(i)
sorted_score_dict=sorted(score_dict,key=(lambda x:x[1]),reverse=True)
print("winner is :",sorted_score_dict[0],"\nwith a score of :",score_dict[sorted_score_dict[0]])

winner is : asd fgh hjk tyu klu rty 333 23
with a score of : 8

In [ ]:
#Super Advanced Practice (10 +)

# 1

In [ ]:
Q. There is company which maintains emloyee records in a python list containing dictionaries.  
Write a function that takes this list of dictionaries as input. 
Dictionary has name, age and gender of a person. Sort all entries by age. 
If there is a tie then sort by gender. If still there is tie then sort by name. 
In names capital letters are considered as higher than lower case letters.
In case of negative age, special characters in name, 
or gender other than 'M' or 'F' give appropriate error message and don't include the record in the output list.

Format of dictionary {'name':'emp_name','age':'emp_age','geder':'emp_gender'}

Ex. 
input: 
[ {'name':'ss','age':'23','geder':'F'},
{'name':'xy','age':'19','geder':'F'},
{'name':'abc','age':'23','geder':'F'},
{'name':'iam','age':'23','geder':'M'},
{'name':'aa','age':'45','geder':'M'},
]

Output :
[ {'name':'xy','age':'19','geder':'F'},
{'name':'abc','age':'23','geder':'F'},
{'name':'ss','age':'23','geder':'F'},
{'name':'iam','age':'23','geder':'M'},
{'name':'aa','age':'45','geder':'M'},
]

In [14]:
def sort(emp):
    sort_emp_age=sorted(emp,key=lambda x:(int(x['age']),x['geder'],x['name']))
    for ele in sort_emp_age:
        print(ele)
        
emp=[ 
{'name':'abx','age':'23','geder':'M'},
{'name':'ss','age':'23','geder':'F'},
{'name':'xaya','age':'19','geder':'M'},
{'name':'xay','age':'19','geder':'F'},
{'name':'xy','age':'19','geder':'F'},
{'name':'abc','age':'23','geder':'F'},
{'name':'mkl','age':'23','geder':'M'},
{'name':'iam','age':'23','geder':'M'},
{'name':'aa','age':'45','geder':'M'},
{'name':'pika','age':'23','geder':'F'},
{'name':'kl','age':'23','geder':'M'},
{'name':'aab','age':'45','geder':'F'},
{'name':'ba','age':'45','geder':'M'}]

sort(emp)

{'name': 'xay', 'age': '19', 'geder': 'F'}
{'name': 'xy', 'age': '19', 'geder': 'F'}
{'name': 'xaya', 'age': '19', 'geder': 'M'}
{'name': 'abc', 'age': '23', 'geder': 'F'}
{'name': 'pika', 'age': '23', 'geder': 'F'}
{'name': 'ss', 'age': '23', 'geder': 'F'}
{'name': 'abx', 'age': '23', 'geder': 'M'}
{'name': 'iam', 'age': '23', 'geder': 'M'}
{'name': 'kl', 'age': '23', 'geder': 'M'}
{'name': 'mkl', 'age': '23', 'geder': 'M'}
{'name': 'aab', 'age': '45', 'geder': 'F'}
{'name': 'aa', 'age': '45', 'geder': 'M'}
{'name': 'ba', 'age': '45', 'geder': 'M'}

def sort(emp):
    sort_emp_age=sorted(emp,key=lambda x:int(x['age']))
    temp=[]
    index=[]
    for ele in sort_emp_age:
        print(ele)
    
    ##############################by age
    for idx in range(len(sort_emp_age)-1):
        if (sort_emp_age[idx]['age']==sort_emp_age[idx+1]['age']):
            if (len(index)>0):
                if (index[len(index)-1][0]!=sort_emp_age[idx]['age']):
                    index.append([sort_emp_age[idx+1]['age'],idx])
            else:
                index.append([sort_emp_age[idx+1]['age'],idx])
            

        if (sort_emp_age[idx]['age']!=sort_emp_age[idx+1]['age']) and (len(index)>0):
            if (index[len(index)-1][0]==sort_emp_age[idx]['age']):
                index.append([sort_emp_age[idx]['age'],idx])
                
        if idx==(len(sort_emp_age)-2):
            index.append([sort_emp_age[idx+1]['age'],(idx+1)])
            
    print(index)
            
    sort_emp_age_copy=sort_emp_age.copy()
    for i in range(0,len(index),2):
        sort=sorted(sort_emp_age_copy[index[i][1]:(index[i+1][1])+1],key=lambda x:x['geder'])
        sort_emp_age_copy[index[i][1]:(index[i+1][1])+1]=sort
        
    
    for i,ele in enumerate(sort_emp_age_copy):
        print(i,ele)
    print("######")
    ########################by name    
    
    seg=sort_emp_age_copy.copy()
    index_name=[]
    lg=len(seg)
    for idx in range(len(seg)-1):
        if seg[idx]['age']==seg[idx+1]['age']:
            if seg[idx]['geder']==seg[idx+1]['geder']:
                if (len(index_name)>0):
                    index_name.append([seg[idx]['age'],seg[idx]['geder'],idx])
                else:
                    index_name.append([seg[idx]['age'],seg[idx]['geder'],idx])
                    
        if (len(index_name)>0):
            print()
            if (seg[idx]['age']==index_name[len(index_name)-1][0]) and (seg[idx]['geder']==index_name[len(index_name)-1][1]):
                if (seg[idx]['geder']!=seg[idx+1]['geder']) or (seg[idx]['age']!=seg[idx+1]['age']):     
                    index_name.append([seg[idx]['age'],seg[idx]['geder'],idx])
                    
        if idx==(len(seg)-2):
            index_name.append([seg[idx+1]['age'],(idx+1)])
    print(index_name)    
    
    
emp=[ {'name':'ss','age':'23','geder':'F'},
{'name':'abx','age':'23','geder':'M'},
{'name':'xy','age':'19','geder':'F'},
{'name':'xay','age':'19','geder':'M'},
{'name':'abc','age':'23','geder':'F'},
{'name':'iam','age':'23','geder':'M'},
{'name':'aa','age':'45','geder':'M'},
{'name':'pika','age':'23','geder':'F'},
{'name':'mkl','age':'23','geder':'M'},
{'name':'kl','age':'23','geder':'M'},
{'name':'aab','age':'45','geder':'F'},
{'name':'ba','age':'45','geder':'M'}]

sort(emp)

In [ ]:
Q Mr. Vincent works in a door mat manufacturing company. One day, he designed a new door mat with the following specifications:

Mat size must be N X M. (N is an odd natural number, and M is 3 times N.)
The design should have ‘WELCOME’ written in the center.
The design pattern should only use |, . and – characters.

Sample Designs
Size: 7 x 21 
    ---------.|.---------
    ------.|..|..|.------
    ---.|..|..|..|..|.---
    -------WELCOME-------
    ---.|..|..|..|..|.---
    ------.|..|..|.------
    ---------.|.---------
    
    Size: 11 x 33
    ---------------.|.---------------
    ------------.|..|..|.------------
    ---------.|..|..|..|..|.---------
    ------.|..|..|..|..|..|..|.------
    ---.|..|..|..|..|..|..|..|..|.---
    -------------WELCOME-------------
    ---.|..|..|..|..|..|..|..|..|.---
    ------.|..|..|..|..|..|..|.------
    ---------.|..|..|..|..|.---------
    ------------.|..|..|.------------
    ---------------.|.---------------

Input Format
A single line containing the space-separated values of N and M.

Constraints
    5 < N < 101
    15 < M < 303

Output Format
Output the design pattern.

Sample Input
9 27

Sample Output

------------.|.------------
---------.|..|..|.---------
------.|..|..|..|..|.------
---.|..|..|..|..|..|..|.---
----------WELCOME----------
---.|..|..|..|..|..|..|.---
------.|..|..|..|..|.------
---------.|..|..|.---------
------------.|.------------


Q There is an airport which maintains data of passengers coming in list of entries. Each entry is a string of format "name:TicketID". TicketId is of 5 characters. TicketID contains first two letters as airline code and last 3 letters as seat number.
Also, there is another list of airline data. Here each entry is a string of format "AirlineCode:Capacity". 
Write a function which takes these two lists as input 
Function returns list of airline codes which are not full

Example
input:
[ "Simba:AA003", "Prayas:DA006", "Pran:DA023", "Rama:AA001", "Abhay:SJ098"]
[ "AA:02", "DA:04", "SJ:100"]

Output:
[DA, SJ ]