# q1

1. Add a list of elements to a given set
Given:
sampleSet = {"Yellow", "Orange", "Black"}
sampleList = ["Blue", "Green", "Red",”Yellow”,”orange”]

In [6]:
sampleSet = {"Yellow", "Orange", "Black"}
sampleList = ["Blue", "Green", "Red","Yellow","orange"]
for ele in sampleList:
    sampleSet.add(ele)
print(sampleSet)

{'orange', 'Red', 'Orange', 'Black', 'Yellow', 'Blue', 'Green'}

# q2

2. display common elements from the given set
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}

In [9]:
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}
print("common elements : ",set1 & set2)

common elements :  {40, 50, 30}

# q3

3. Generate a new set with all items from both sets by removing numbers which are in both sets.
set1 = {10, 20, 30, 40, 50,25}
set2 = {30, 40, 50, 60, 70,100}
o/p : order is not important
{70, 10, 20, 60,25,100}

In [35]:
set1 = {10, 20, 30, 40, 50,25}
set2 = {30, 40, 50, 60, 70,100}
union_set = set1 | set2
intersection_set = set1 & set2
print( "union :",union_set)
print( "intersection : ",intersection_set)
print("difference : ",union_set - intersection_set)
set1^set2

union : {100, 70, 40, 10, 50, 20, 25, 60, 30}
intersection :  {40, 50, 30}
difference :  {100, 70, 10, 20, 25, 60}

{10, 20, 25, 60, 70, 100}

# q4

4. set of all elements in either A or B, but not both
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}
Expected output:
{20, 70, 10, 60}

In [18]:
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}
print("difference :",set1 ^ set2)

difference : {20, 70, 10, 60}

# q5

5. Update set1 by adding items from set2, except common items
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}
Expected output:
{70, 10, 20, 60}

In [24]:
union_set=set1 | set2
removing_common=union_set - (set1 & set2) 
print(removing_common)
print(set1^set2)

{10, 20, 70, 60}
{20, 70, 10, 60}

# q6

6. Take a sentence as input from user. Every word is seperated by space. Print all unique words from the sentence.

In [47]:
sent="hello my name is python and python is a name"
sent_list=sent.split(" ")
# print(sent_list)
uniq = set()
for ele in sent_list:
    uniq.add(ele)
print("unique elements :",uniq)

uniq=set(sent_list)

['hello', 'my', 'name', 'is', 'python', 'and', 'python', 'is', 'a', 'name']
unique elements : {'python', 'and', 'a', 'hello', 'my', 'is', 'name'}

In [39]:
###################Another####################
sent="hello my name is python and python is a name"
sent_list=set(sent.split(" "))
print(sent_list)

{'python', 'and', 'a', 'hello', 'my', 'is', 'name'}

# Tuple Assignments
# q1

1. Reverse the following tuple
aTuple = (10, 20, 30, 40, 50,60)
Expected output:
(60,50, 40, 30, 20, 10)

In [37]:
aTuple = (10, 20, 30, 40, 50,60)
rtuple = reversed(aTuple)
print(tuple(rtuple))
########################Another########
rtuple2 = aTuple[::-1]
print(rtuple2)

(60, 50, 40, 30, 20, 10)
(60, 50, 40, 30, 20, 10)

# q2

2. display value 20 from the following tuple
aTuple = ("Orange", [10, 20, 30], (5, 15, 25))

In [41]:
aTuple = ("Orange", [10, 20, 30], (5, 15, 25))
aTuple[1][1]

20

# q3

3. Unpack the following tuple into 4 variables
aTuple = (10, 20, 30, 40)

In [44]:
aTuple = (10, 20, 30, 40)
a,b,c,d = aTuple
print(a,b,c,d)

10 20 30 40

# q4

4. Swap the following two tuples
tuple1 = (11, 22)
tuple2 = (99, 88)
Expected output:
tuple1 = (99, 88)
tuple2 = (11, 22)

In [46]:
tuple1 = (11, 22)
tuple2 = (99, 88)
tuple1,tuple2=tuple2,tuple1
print(tuple1)
print(tuple2)

(99, 88)
(11, 22)

# q5

5. Copy element 44 and 55 from the following tuple into a new tuple
tuple1 = (11, 22, 33, 44, 55, 66)
Expected output:
tuple2: (44, 55)

In [3]:
tuple1 = (11, 22, 33, 44, 55, 66)
tuple2=(tuple1[3],tuple1[4])
tuple3=tuple1[2:4]
print(tuple3)
print(tuple2)

(33, 44)
(44, 55)

# q6

6. Modify the first item (22) of a list inside a following tuple to 200
tuple1 = (11, [22, 33], 44, 55)
Expected output:
tuple1: (11, [200, 33], 44, 55)

In [54]:
tuple1 = (11, [22, 33], 44, 55)
tuple1[1][0]=200
print(tuple1)

(11, [200, 33], 44, 55)

# q7

7. Take two integer values in a & b. Swap their values using tuple, using temparary variable and without tuple and without temparary variable.
Ex. a=10 b=23
After swapping a=23 b=10

In [ ]:
#using tuple
a=10
b=23
a,b=b,a
print(a,b)

# using tuple, using temparary variable
a=10
b=23
temp=a
a=b
b=temp
print(a,b)

# with arithmetic
a=10
b=23
a=a+b
b=a-b
a=a-b
print(a,b)

# Dictionary Assignments

# q1

1. In cryptography, a Caesar cipher is a very simple encryption techniques in which each letter in the plain text is replaced by a letter some fixed number of positions down the alphabet. For example, with a shift of 3, A would be replaced by D, B would become E, and so on. The method is named after Julius Caesar, who used it to communicate with his generals. ROT-13 ("rotate by 13 places") is a widely used
example of a Caesar cipher where the shift is 13. In Python, the key for ROT-13 may be represented by means of the following dictionary
{'a':'n', 'b':'o', 'c':'p', 'd':'q', 'e':'r', 'f':'s', 'g':'t', 'h':'u', 'i':'v', 'j':'w', 'k':'x', 'l':'y', 'm':'z', 'n':'a', 'o':'b', 'p':'c',
'q':'d', 'r':'e', 's':'f', 't':'g', 'u':'h', 'v':'i', 'w':'j', 'x':'k', 'y':'l', 'z':'m', 'A':'N', 'B':'O', 'C':'P', 'D':'Q', 'E':'R', 'F':'S', 'G':'T', 'H':'U', 'I':'V', 'J':'W', 'K':'X', 'L':'Y', 'M':'Z', 'N':'A', 'O':'B', 'P':'C', 'Q':'D', 'R':'E', 'S':'F', 'T':'G', 'U':'H', 'V':'I', 'W':'J', 'X':'K', 'Y':'L', 'Z':'M'}
Your task in this exercise is to implement an encoder/decoder of ROT-13. Once you're done, you will be able to read the following secret message:
Pnrfne pvcure? V zhpu cersre Pnrfne fnynq!
Note that since English has 26 characters, your ROT-13 program will be able to both encode and decode texts written in English.

In [100]:
cipher={'a':'n', 'b':'o', 'c':'p', 'd':'q', 'e':'r', 'f':'s', 'g':'t', 'h':'u', 'i':'v', 'j':'w', 'k':'x', 'l':'y', 'm':'z', 'n':'a', 'o':'b', 'p':'c',
'q':'d', 'r':'e', 's':'f', 't':'g', 'u':'h', 'v':'i', 'w':'j', 'x':'k', 'y':'l', 'z':'m', 'A':'N', 'B':'O', 'C':'P', 'D':'Q', 'E':'R', 'F':'S', 'G':'T', 'H':'U', 'I':'V', 'J':'W', 'K':'X', 'L':'Y', 'M':'Z', 'N':'A', 'O':'B', 'P':'C', 'Q':'D', 'R':'E', 'S':'F', 'T':'G', 'U':'H', 'V':'I', 'W':'J', 'X':'K', 'Y':'L', 'Z':'M'}
coded="Pnrfne pvcure? V zhpu cersre Pnrfne fnynq!"
for ele in coded:
    if cipher.get(ele):
        print(cipher[ele],end="")
    else:
        print(ele,end="")

Caesar cipher? I much prefer Caesar salad!

In [5]:
##################################by Sir
trans={'a':'n', 'b':'o', 'c':'p', 'd':'q', 'e':'r', 'f':'s', 'g':'t', 'h':'u', 'i':'v', 'j':'w', 'k':'x', 'l':'y', 'm':'z', 'n':'a', 'o':'b', 'p':'c',
'q':'d', 'r':'e', 's':'f', 't':'g', 'u':'h', 'v':'i', 'w':'j', 'x':'k', 'y':'l', 'z':'m', 'A':'N', 'B':'O', 'C':'P', 'D':'Q', 'E':'R', 'F':'S', 'G':'T', 'H':'U', 'I':'V', 'J':'W', 'K':'X', 'L':'Y', 'M':'Z', 'N':'A', 'O':'B', 'P':'C', 'Q':'D', 'R':'E', 'S':'F', 'T':'G', 'U':'H', 'V':'I', 'W':'J', 'X':'K', 'Y':'L', 'Z':'M'}
coded="Pnrfne pvcure? V zhpu cersre Pnrfne fnynq!"
new_mess=""
for char in coded:
#     if  trans.get(char):
    if char in trans:
        new_char=trans[char]
        new_mess=new_mess+new_char
    else:
        new_mess=new_mess+char
print(new_mess)

Caesar cipher? I much prefer Caesar salad!

# q2

In [ ]:
#2
2. Given a dictionary of students and their favourite colours:
people={'Arham':'Blue','Lisa':'Yellow','Vinod':'Purple','Jenny':'Pink'}
a. Find out how many students are in the list
b. Change Lisa’s favourite colour
c. Remove 'Jenny' and her favourite colour

In [7]:
people={'Arham':'Blue','Lisa':'Yellow','Vinod':'Purple','Jenny':'Pink'}
#A
print("total number of students in the list :",len(people.keys()))

#B
people['Lisa']='Black'
print("Lisa's new color is :",people['Lisa'])

#C
people.pop('Jenny')
print("updated dictionary :",people)

total number of students in the list : 4
Lisa's new color is : Black
updated dictionary : {'Arham': 'Blue', 'Lisa': 'Black', 'Jenny': 'Pink'}

In [124]:
###########Another for C
people={'Arham':'Blue','Lisa':'Yellow','Vinod':'Purple','Jenny':'Pink'}
del people['Jenny']
print(people)

{'Arham': 'Blue', 'Lisa': 'Yellow', 'Vinod': 'Purple'}

# q4

#4
4. Sort and print students and their favourite colours alphabetically by name

In [19]:
people={'Lisa':'Yellow','Arham':'Blue','Vinod':'Purple','Jenny':'Pink'}
print(sorted(people))
sorted_people={}
for ele in sorted(people):
    print(ele,":",people[ele])

['Arham', 'Jenny', 'Lisa', 'Vinod']
Arham : Blue
Jenny : Pink
Lisa : Yellow
Vinod : Purple

In [21]:
people={'Lisa':'Yellow','Arham':'Blue','Vinod':'Purple','Jenny':'Pink'}
type(sorted(people))

list

In [ ]:
#another with little bit chage
people={'Lisa':'Yellow','Arham':'Blue','Vinod':'Purple','Jenny':'Pink'}
# print(sorted(people))
sorted_people={}
for ele in sorted(people):
    sorted_people[ele]=people[ele]
print(sorted_people)

# q3

In [ ]:
3. Write a menu driven program to practice Dictionary functions.
Write a program to accept name of a person and their vehicle and store it in a dictionary.
Ask user if they want to continue to accept multiple values.
Display following menu:
a. Add new person name and a vehicle name.
b. Delete a person name and vehicle name from the dictionary.
----Accept person name from user.
----Check whether person name exists in the dictionary.
----If exists show person name and vehicle name to the user.
----Confirm for deletion, if user enters y
then delete otherwise no. Display appropriate message.
c. Modify vehicle name for the person
----Accept a person name from user.
----Check whether the person’s name exists.
----If the name exists, show the person’s name and vehicle name to user.
Ask for new value and then overwrite the old value.
d. Search vehicle for the given person’s name.
e. Search list of people, who have given a vehicle
f. Display all person names.
g. Display all vehicle names.
h. Exit

In [172]:
data={'swaz': 'activa', 'shriyash': 'rx100', 'bhaya': 'ether', 'goku': None}

In [178]:

# name=input("enter your name: ")
# vehicle=input("enter your vehicle :")
# data=dict()
# data.setdefault(name,vehicle)

# choice=1
while(True):
    choice=int(input("enter\n1. Add new person name and a vehicle name\n2. Delete a person name and vehicle name from the dictionary\n3. modify vehicle name\n4. Search vehicle for the given person’s name\n5. Search list of people, who have given a vehicle\n6. Display all person names.\n7. Display all vehicle names.\n0. Exit"))
    match choice:
        case 1:
            name=input("enter your name: ")
            vehicle=input("enter your vehicle :")
            data.setdefault(name,vehicle)
            print()
        case 2:
            name=input("enter name to delete: ")
            if data.get(name) != None:
                print(name,"and vehicle :",data[name])
                c=input("press y to delete ")
                if c=='y':
                    data.pop(name)
            else:
                print(name, " does not exist")
        case 3:
            name=input("enter name to modify: ")
            if data.get(name) != None:
                print(name,"and vehicle :",data[name])
                modify=input("enter the vehicle name to modify")
                data[name]=modify
        case 4:
            name=input("enter a name to find its vehicle: ")
            if data.get(name) != None:
                print(name,"and vehicle :",data[name])
        case 5:
            print("list of people, who have given a vehicle :")
            for ele in data.keys():
                if data.get(ele) != None:
                    print(ele,end=",")
        case 6:
            print("All person names are : ",data.keys())
        case 7:
            print("All vehicle names are :",data.values())
        case 0:
            break       
print(data)

enter
1. Add new person name and a vehicle name
2. Delete a person name and vehicle name from the dictionary
3. modify vehicle name
4. Search vehicle for the given person’s name
5. Search list of people, who have given a vehicle
6. Display all person names.
7. Display all vehicle names.
0. Exit5
list of people, who have given a vehicle :
swaz,shriyash,bhaya,enter
1. Add new person name and a vehicle name
2. Delete a person name and vehicle name from the dictionary
3. modify vehicle name
4. Search vehicle for the given person’s name
5. Search list of people, who have given a vehicle
6. Display all person names.
7. Display all vehicle names.
0. Exit6
All person names are :  dict_keys(['swaz', 'shriyash', 'bhaya', 'goku'])
enter
1. Add new person name and a vehicle name
2. Delete a person name and vehicle name from the dictionary
3. modify vehicle name
4. Search vehicle for the given person’s name
5. Search list of people, who have given a vehicle
6. Display all person names.
7. Display all vehicle names.
0. Exit7
All vehicle names are : dict_values(['activa', 'rx100', 'ether', None])
enter
1. Add new person name and a vehicle name
2. Delete a person name and vehicle name from the dictionary
3. modify vehicle name
4. Search vehicle for the given person’s name
5. Search list of people, who have given a vehicle
6. Display all person names.
7. Display all vehicle names.
0. Exit0
{'swaz': 'activa', 'shriyash': 'rx100', 'bhaya': 'ether', 'goku': None}

# q4

In [ ]:
4. Write a program to display following menu and do the following:
a. Add new city and trees commonly found in the city.
b. Display all cities and the list of trees for all cities.
c. Display list of trees of a particular city.
---- Accept a city from user search city and if found display list of trees otherwise
---- Display message not found
d. Display cities which have the given tree.
---- Accept a tree name from user and display all cities in which the tree is found.
e. Delete city ---- Accept city from user and delete the city if found.
---- Prompt user before deletion
f. Modify tree list
---- Accept city and trees to be added in the city. if city exist add trees at the end of the list
---- Otherwise add city and list
g. Exit

In [22]:
choice=1
# data={}
data={'pune': ['man', 'cher', 'ban'], 'mumbai': ['palm', 'chiku', 'coconut']}
while(choice!=0):
    choice=int(input("\nenter choice\n1. Add new city and trees commonly found in the city.\n2. Display all cities and the list of trees for all cities.\n3. Display list of trees of a particular city.\n 4. Display cities which have the given tree.\n 5. Delete city\n 6. Modify tree list\n0. Exit "))
    match choice:
        case 1:
            city=input("enter the name")
            input_tree=input("enter the common trees separated by space")
            trees=input_tree.split(" ")
            data.setdefault(city,trees)
        case 2:
            print("all the cities are :")
            print(data.keys())
            print("list of trees are :")
            all_tree=[]
            for tr in data.values():
                for temp in tr:
                    all_tree.append(temp)
            print(all_tree)
        case 3:
            city=input("enter the name :")
            if data.get(city)!=None:
                print("list of trees of ",city,":",end="")
                print(data[city])
            else:
                print("message not found")
        case 4:
            tree=input("enter tree name :")
            for k,v in data.items():
                if tree in v:
                    print(k)
        case 5:
            city=input("enter the name :")
            if city in data.keys():
                prompt=input("do you really want to delete if yes enter y :")
                if prompt == 'y':
                    del data[city]
            print("new data :",data)
        case 6:
            city=input("enter the name :")
            if city in data.keys():
                tree=input("enter tree name to be added :")
                data[city].append(tree)
            else:
                print(city,"does not exist :")
                input_tree=input("enter tree name to be added separated by space:")
                trees=input_tree.split(" ")
                data.setdefault(city,trees)

enter choice
1. Add new city and trees commonly found in the city.
2. Display all cities and the list of trees for all cities.
3. Display list of trees of a particular city.
 4. Display cities which have the given tree.
 5. Delete city
 6. Modify tree list
0. Exit 0

# q5

5. Take a sentence as input from user. Every word is seperated by space. 
a. Create a word_count dictionary which will have unique words and their count. 

b. create suffix_count dictionary which will contain count of words ending with 's', 'es', 'ed', 'y', 'en' , etc.

c. create dictionary word_length_count which will store length of word and count.
Ex. 
input_sent= 'CDAC is in Pune'
There are 2 words of length 4 and 2 words of length 2 so,
word_length_count = {2:2, 4:2}

In [30]:
input_sent= 'CDAC is in Pune in ssd'
word_list=input_sent.split(" ")

word_count={}

# A
for ele in word_list:
    if ele in word_count:
        word_count[ele]+=1
    else:
        word_count[ele]=1
print(word_count)

#B
suffix_list=['s', 'es', 'ed', 'y', 'en' ]
suffix_count={'s' : 0, 'es':0, 'ed':0, 'y':0, 'en':0}
for ele in word_list:
    for i in suffix_count.keys():
        if ele.endswith(i):
            suffix_count[i]+=1

print(suffix_count)

#C
word_length_count={}
for ele in word_list:
#     print(ele)
    if len(ele) in word_length_count.keys():
        word_length_count[len(ele)]+=1
#         pass
    else:
        word_length_count.setdefault(len(ele),1)
print(word_length_count)
for k,v in word_length_count.items():
    print("There are",v ,"words of length",k)

{'CDAC': 1, 'is': 1, 'in': 2, 'Pune': 1, 'ssd': 1}
{'s': 1, 'es': 0, 'ed': 0, 'y': 0, 'en': 0}
{4: 2, 2: 3, 3: 1}
There are 2 words of length 4
There are 3 words of length 2
There are 1 words of length 3

In [42]:
#another for A
input_sent= 'CDAC is in Pune in in ssd'
word_list=input_sent.split(" ")
word_set=set(word_list)
word_count={}

# A
for ele in word_set:
    word_count[ele]=word_list.count(ele)
print(word_count)

{'is': 1, 'Pune': 1, 'ssd': 1, 'in': 3, 'CDAC': 1}